body {
    background-color: #333!important;
    color: #ccc!important;
}
#timetable {
    width: 100%;
    table-layout: fixed;
    box-shadow: 0px 0px 40px -10px #000;
    color: #ccc;
}
#timetable-header th {
    text-align: center;
}
#form-frame {
    height: 0px;
    transition: height 1s ease;
}
#clashes-content {
    background-color: #ff0000;
    color: #ffffff;
    padding: 2% 3%;
    box-shadow: 0px 0px 40px -10px #000;
}
.content-div {
    margin-bottom: 3%;
}
.time-header {
    text-align: center;
    width: 70px;
    border-right: 1px solid;
}
footer {
    background-color: #222;
    padding: 3% 0px;
}
.mon-col {
    border-left: 1px solid;
}
#loading-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #444;
    display:flex;
    text-align: center;
    justify-content:center;
    align-items:center;
    transition: opacity 0.8s;
}