body {
    margin: 0px;
    background-color: #333!important;
    color: #ccc!important;
}
#timetable {
    width: 100%;
    table-layout: fixed;
    box-shadow: 0px 0px 40px -10px #000;
    color: #ccc;
    word-wrap: break-word;
}
#timetable-header th {
    text-align: center;
}
.width-normaliser {
    width: 100px;
}
.content-div {
    margin-bottom: 3%;
}
.time-header {
    text-align: center;
    border-right: 1px solid;
}
footer {
    background-color: #222;
    padding: 3% 0px;
}
.mon-col {
    border-left: 1px solid;
}
#loading-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #444;
    display:flex;
    text-align: center;
    justify-content:center;
    align-items:center;
    transition: opacity 0.8s;
}
#signin-link {
    display: flex;
    align-items: center;
    background-color: #444;
    border-radius: 5px;
    padding: 5px;
    padding-right: 10px;
    display: inline-block;
    transition: background-color 0.5s ease;
    cursor: pointer;
}
#signin-link:hover {
    background-color: #555;
    text-decoration: underline;
}
#user-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    transition: box-shadow 1s ease;
}
#signin-link:hover #user-img {
    box-shadow: 0px 0px 5px 1px #333;
}
#usr-name {
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
}
div#timetable-container ::-webkit-scrollbar {
    width: 10px;
}
div#timetable-container ::-webkit-scrollbar-track {
    background-color: #212529;
}
div#timetable-container ::-webkit-scrollbar-thumb {
    background-color: #444;
}